.#{$main} {
    @include container;
    .#{$main}__show-me {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-15px);
        &--ativo {
            animation: show-me 1s ease-out forwards;
            @keyframes show-me {
                to {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .#{$main}__wrapper-content {
        @include wrapperContent;
        .#{$main}__subject-title {
            @include subjectTitle;
        }
        .#{$main}__autor {
            @include grid(
                $width: 100%,
                $gridTemplateColumn: auto 1fr auto,
                $gridTemplateRows: auto auto,
                $justifyItems: start,
                $row-gap: 0px,
                $column-gap: 5px
            );
            .#{$main}__autor-photo {
                @include authorPhoto;
                grid-row: 1 / 3;
            }
            .#{$main}__autor-name {
                @include authorName;
            }
            .#{$main}__info-read {
                @include infoRead;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
            .#{$main}__redes-sociais {
                @include flex;
                grid-row: 1 / 3;
                .#{$main}__image-rede {
                    @include socialNetworksAuthor;
                }
            }
        }
        .#{$main}__matter-featured {
            @include featured;
            .#{$main}__matter-title-featured {
                @include featureTitle;
            }
            .#{$main}__matter-text-featured {
                @include featureText;
            }
        }
        .#{$main}__matter-title {
            @include contentTitle;
        }
        .#{$main}__matter-text {
            @include contentParagraph;
        }
        .#{$main}__matter-figure {
            @include figure;
            .#{$main}__matter-image {
                @include figureImage;
            }
            .#{$main}__matter-caption {
                @include figureCaption;
            }
        }
        .#{$main}__matter-list {
            @include matterList;
        }
        .#{$main}__matter-tags {
            @include matterTags;
        }
    }
    .#{$main}__wrapper-related-articles {
        @include wrapper;
        border-top: 1px solid var(--green-primary);
        padding: 2rem 0 5rem;
        @media (max-width: $break-point-tablet-portrait) {
            padding: 2rem 1.25rem 5rem;
        }
        .#{$main}__title {
            @include sectionRelatadArticleTitle;
        }
        .#{$main}__related-articles {
            @include grid(
                $gridTemplateColumn: 1fr 1fr 1fr,
                $column-gap: 3rem,
                $gridTemplateRows: auto,
                $justifyContent: space-between,
                $alignItems: start
            );
            @media (max-width: $break-point-tablet-portrait) {
                @include grid(
                    $gridTemplateColumn: 300px 300px,
                    $column-gap: 3rem,
                    $row-gap: 3rem,
                    $gridTemplateRows: auto auto,
                    $justifyContent: space-around,
                    $alignItems: start
                );  
            }
            @media (max-width: $break-point-mobile) {
                @include grid(
                    $gridTemplateColumn: 300px,
                    $column-gap: 0rem,
                    $row-gap: 3rem,
                    $gridTemplateRows: auto auto auto,
                    $alignItems: start
                );  
            }
            .#{$main}__article-image {
                @include articleImage;
            }
            .#{$main}__article-title {
                @include relatadArticleTitle;
            }
            .#{$main}__article-paragraph {
                @include relatadArticleParagraph;
            }
        }
    }
}