// ---------------------
// ----- RESETS ----- //
// ---------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.4rem;
    @media (max-width: $break-point-desktop) {
        font-size: 16px;
        line-height: 1.4rem;
    }
    @media (max-width: $break-point-tablet-portrait) {
        font-size: 14px;
        line-height: 1.2rem;
    }
    @media (max-width: $break-point-mobile) {
        font-size: 12px;
        line-height: 1rem;
    }
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
input, select, textarea, button {
    font-size: 16px;
    line-height: 1.4rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
}
ul, li {
    list-style: none;
}
body {
    background-color: $white-primary;
    font-family: 'Merriweather', sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}